.header {
  background: var(--gray-700);
  height: 11.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
}

.header img {
  height: 2rem;
}

.header img:nth-child(1) {
  margin-right: 1rem;
}
