.task {
  display: flex;
  align-items: center;

  padding: 1rem;
  margin-bottom: 0.75rem;

  background-color: var(--gray-500);
  border-radius: 8px;
}

.task label {
  width: 100%;

  margin-left: 1rem;

  display: flex;
  align-items: center;
  place-content: space-between;
}
